input{
  background-color: #eee;
  border: 0;
  padding: 3px;
  width: 100%;
  max-width: 500px;
  min-width: 200px;
  margin: 5px;
}

p{
  margin: 0 auto;
  margin-top: 20px;
  margin-left: 5px;
}